<br>
<div class="mx-auto" style="width: 80%;">
    <div class="d-grid gap-3">

        <div class="d-grid gap-3">
            <div class="container my-5 p-5 z-depth-1">
                <!--Section: Content-->
                <section class="text-center  black-text">
                    <!-- Section heading -->
                    <h2 class="font-weight-bold mb-4 pb-2">Conozcámonos un poco</h2>
                    <!-- Section description -->
                    <p class="lead grey-text mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris sit amet odio at nunc congue ultrices. Maecenas ultricies efficitur sapien, ac mollis
                        elit eleifend nec. Phasellus mollis dolor dictum purus feugiat tincidunt. Sed eu massa metus.
                        Donec ornare libero tempor, gravida magna eu, ultricies lacus. Interdum et malesuada fames ac
                        ante ipsum primis in faucibus. Nullam nec tristique urna, a commodo lectus. Morbi tincidunt
                        laoreet sapien, et consectetur enim elementum vel. Curabitur pretium leo porta hendrerit
                        dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Etiam quam justo, ultricies sit amet varius at, congue sit amet orci. Donec bibendum lorem
                        mi, ut luctus orci semper dapibus. Donec ullamcorper libero risus, nec sagittis ligula ultricies
                        ut.</p>
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-4 mb-4">
                            <mdb-icon fas icon="user-alt fa-3x red-text"></mdb-icon>
                            <h5 class="font-weight-bold my-4"> Quienes somos</h5>
                            <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Reprehenderit maiores aperiam minima assumenda deleniti hic.
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 mb-4">
                            <mdb-icon fas icon="briefcase fa-3x cyan-text"></mdb-icon>

                            <h5 class="font-weight-bold my-4">Que hacemos</h5>
                            <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Reprehenderit maiores aperiam minima assumenda deleniti hic.
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 mb-4">
                            <mdb-icon fas icon="check fa-3x orange-text"></mdb-icon>
                            <h5 class="font-weight-bold my-4">Que logramos</h5>
                            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Reprehenderit maiores aperiam minima assumenda deleniti hic.
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </section>
                <!--Section: Content-->
            </div>
        </div>
    </div>
</div>
<br>
