<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mb-4 box-shadow">
          <br>
          <div class="card-body">
            <div class="container">
              Nuevo material
              <br>
              <br>
              <%= render "form", type: @type %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
